.h1 {
    color: white;
}

.selectContainer {
    /* background-color: aqua; */

    display: flex;
    margin: 10%;
    justify-content: space-around;
    height: fit-content;
}


.select {
    border-radius: 10%;
    border: 2px solid white;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
    /* font-weight: bold; */
    transition: all 0.3s ease;
}

  
.select:hover {
    background-color: white;
    color: black;
    cursor: pointer;
  }

.label {
    display: flex;
    flex-direction: column;
    color: white;
    
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    gap: 1.5rem;
}