.divCard {
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    width: fit-content;
    height: fit-content;
    border: 2px black solid;
    border-radius: 1rem;
    gap: 2px;
    padding: 1rem;
    align-content: center;
    /* position: relative; */
}


.button {
    width: fit-content;
    background-color: red;
    font-weight: bold;
    border: black solid 1px;
    border-radius: 1rem;
    align-self: flex-end;
}

.h2 {
    margin: 3%;
    color: black;
    /* position: absolute;
    top: 10px;
    right: 0;
    bottom: 0;
    left: 0; */
}

.h2:first-of-type{
    background-color: blanchedalmond;
    width: fit-content;
    align-self: center;
    padding: 5px;
    border: black solid 1px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: .5rem;
    /* position: absolute;
    top: 5px;
    bottom:auto;
    left: 50px; */
}

.img {
    border: black solid 1px;
    border-radius: .5rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
