/* .searchBarDiv {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    align-items: center;
    margin: 1rem auto;
    min-width: 50vw;
    height: 7vh;
    background-color: beige;
    gap: 10px;
    border-radius: .5rem;
    font-size: 18px;
    justify-content: center;
    /* align-self: flex-end; 
    
}

.input {
    font-size: 90%;
    margin: auto;
    border-radius: 1rem;
    flex-shrink: 0;

}

.boton {
    margin: auto;
    font-size: 90%;
    background-color: yellowgreen;
    border-radius: .5rem;
    flex-shrink: 0;
}

@media (max-width: 767px) {
    .searchBarDiv {
        display: flex;
        flex-direction: row;
        align-content: center;
        flex-wrap: wrap;
    }

    .input {
        margin: auto;
    }

    .boton {
        margin: auto;
    }
} */

/* --------------------------------------------------------------------*/

.searchBarDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
 }
 
 /* .input {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid black;
    margin-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
 } */
 
 /* .boton {
    padding: 10px;
    font-size: 16px;
    border: none;
    /* background-color: black;
    color: white; 
    background-color: white;
    color: black;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
 } */
 .boton {
    border: 2px solid white;
    background-color: transparent;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    transition: all 0.3s ease;
  }
  
  .boton:hover {
    background-color: white;
    color: black;
    cursor: pointer;
  }
  .input {
    border: none;
    border-radius: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-right: 10px;
    width: 200px;
    font-size: 1rem;
    background-color: #fff;
    color: #000;
    transition: all 0.3s ease-in-out;
 }
 
 .input:focus {
    outline: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
 }
 
 .input::placeholder {
    color: #a9a9a9;
    font-style: italic;
 }